.cards {
	margin-bottom: 24px;
}
.sneaker {
	width: calc(33.3333% - ((23px * 2) / 3));
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	transition: all 0.1s ease-in-out;
	cursor: pointer;
	position: relative;
	background-color: #fff;
	border-radius: 12px;
	z-index: 1;
}

.sneaker::after {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	background: linear-gradient(45deg, #f1f1f1 50%, rgb(255, 136, 0) 50%);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	background-size: 0;
	z-index: -1;
	border-radius: 13px;
}
.sneaker:nth-child(1)::after {
	animation:
		borderGradientTo 0.5s 1s linear alternate,
		borderGradientFrom 0.5s 1.5s linear alternate;
}
.sneaker:nth-child(2)::after {
	animation:
		borderGradientTo 0.5s 1.3s linear alternate,
		borderGradientFrom 0.5s 1.8s linear alternate;
}
.sneaker:nth-child(3)::after {
	animation:
		borderGradientTo 0.5s 1.6s linear alternate,
		borderGradientFrom 0.5s 2.1s linear alternate;
}

.sneaker img {
	border-radius: 12px 12px 0 0;
	margin-bottom: -0.8px;
}

.sneaker:nth-child(1):hover,
.sneaker:nth-child(2):hover,
.sneaker:nth-child(3):hover {
	transform: translate(0px, -10px);
	box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.sneaker:nth-child(1):active,
.sneaker:nth-child(2):active,
.sneaker:nth-child(3):active {
	transform: translate(0px, -10px) scale(0.98);
	box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.sneaker:nth-child(1) {
	animation:
		jump 0.3s 1s ease-out,
		down 0.5s 1.3s;
}
.sneaker:nth-child(2) {
	animation:
		jump 0.3s 1.3s ease-out,
		down 0.5s 1.6s;
}
.sneaker:nth-child(3) {
	animation:
		jump 0.3s 1.6s ease-out,
		down 0.5s 1.9s;
}

@keyframes jump {
	from {
		transform: translate(0px, 0px);
		box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
	}
	to {
		transform: translate(0px, -10px);
		box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
	}
}
@keyframes down {
	from {
		transform: translate(0px, -10px);
		box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
	}
	to {
		transform: translate(0px, 0px);
		box-shadow: 0;
	}
}
@keyframes borderGradientTo {
	from {
		background-size: 400% 150%;
	}
	to {
		background-size: 400% 600%;
	}
}
@keyframes borderGradientFrom {
	from {
		background-size: 400% 600%;
	}
	to {
		background-size: 400% 150%;
	}
}

.cards__wrapper {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 23px;
}
.cards__text {
	padding: 32px 24px;
	background-color: #fff;
	border-radius: 0 0 12px 12px;
}
.cards__title {
	font-size: 26px;
	font-weight: 700;
	margin-bottom: 10px;
}
.cards__desc {
	font-size: 20px;
	font-weight: 400;
}

/* CARDS END ============================== */

/* PAGE OF SNEAKER START ======================= */

.sneaker-big {
	padding: 48px;
	background-color: #fff;
	border-radius: 50px;
	margin: 7px 0 32px 0;
}
.sneaker-big__img {
	margin-bottom: 32px;
	text-align: center;
}
.sneaker-big__img img {
	width: 100%;
}
/* .sneaker-big__info {
    
} */
.sneaker-big__title {
	margin-bottom: 24px;
	font-size: 48px;
	font-weight: 400;
}
.sneaker-big__subtitle {
	margin-bottom: 24px;
	font-size: 36px;
	font-weight: 400;
}
.sneaker-big__additional-info {
	font-size: 20px;
	font-weight: 400;
	display: flex;
	gap: 32px;
}
.sneaker-big__text {
	line-height: 28px;
	max-width: 516px;
}
.sneaker-big__text p:not(:last-child) {
	margin-bottom: 20px;
}
.sneaker-big__parameters {
	flex: 1;
	min-width: 246px;
}
.sneaker-big__parameters-title {
	font-size: 30px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	font-weight: 400;
}

.sneaker-big__parameter-info {
	border-bottom: 1px solid #121723;
	display: flex;
	gap: 15px;
	justify-content: space-between;
}
.sneaker-big__parameter-info p:last-child {
	text-align: right;
}
.sneaker-big__parameter-info:not(:last-child) {
	margin-bottom: 20px;
	padding-bottom: 24px;
}
.sneaker-big__parameter-info:last-child {
	padding-bottom: 20px;
}

/* PAGE OF SNEAKER ======================= */

/* MEDIA */

@media screen and (max-width: 1024px) {
	.cat {
		display: none;
	}
}
@media screen and (max-width: 768px) {
	.container {
		max-width: 1208px;
		padding: 0 24px;
	}

	.sneaker {
		width: calc(50% - (24px / 2));
	}
	.subtitle {
		font-size: 42px;
	}
}
@media screen and (max-width: 860px) {
	.sneaker-big__additional-info {
		flex-direction: column;
	}
	.sneaker-big__text {
		max-width: unset;
	}
}
@media screen and (max-width: 546px) {
	.header__nav,
	.footer__nav {
		flex-direction: column;
		gap: 24px;
		align-items: center;
	}
	.sneaker {
		width: 100%;
	}
	.sneaker-big {
		padding: 24px;
	}
	.sneaker-big {
		border-radius: 12px;
	}
}
@media screen and (max-width: 375px) {
	.container {
		max-width: 1192px;
		padding: 0 16px;
	}
	.subtitle {
		font-size: 32px;
	}

	.header__nav,
	.footer__nav {
		flex-direction: column;
		gap: 24px;
		align-items: center;
	}
	.footer__nav {
		gap: 32px;
	}
	.sneaker-big__title {
		font-size: 32px;
	}
	.sneaker-big__subtitle {
		font-size: 20px;
	}
	.sneaker-big__additional-info {
		font-size: 16px;
	}
	.sneaker-big__text {
		line-height: 24px;
	}
	/* .sneaker-big__text p{
      
  } */
	.sneaker-big__parameters-title {
		font-size: 24px;
	}
}
/* MEDIA */
