/* FOOTER START ============================== */

.footer {
	background-color: #121723;
}
.footer__logo img {
	max-width: 100%;
}
.footer__nav {
	padding: 31px 0;
	border-bottom: 1px solid #676b73;
}
.footer .social-links {
	color: #fff;
}
.footer__line {
	background-color: #e6e8ec66;
	height: 1px;
	width: 100%;
	font-size: 0;
	margin-bottom: 18px;
}
.footer__text {
	color: #a1a6b4;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin: 25px 0;
}

/* FOOTER END ============================ */
