@import 'tailwindcss';

/* BASE */
html {
	scroll-behavior: smooth;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: 'Anonymous Pro', monospace;
	font-size: 26px;
	background-color: #f1f1f1;
}

.main {
	flex: 1;
}

a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1224px;
	padding: 0 32px;
}

.subtitle__two {
	display: none;
	font-size: 48px;
	font-weight: 500;
	font-family: 'IBM Plex Mono', monospace;
	margin-bottom: 24px;
}
.social-links {
	display: flex;
	flex-shrink: 0;
	gap: 24px;
	color: #000;
	font-size: 20px;
	font-weight: 700;
}
.subtitle {
	font-size: 28px;
	font-weight: 500;
	font-family: 'IBM Plex Mono', monospace;
	margin-bottom: 24px;
}

.love-cat {
	display: none;
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	transition: all 0.1s ease-in-out;
	transform: translateX(calc(-100% + 5px)) rotate(-90deg);
}
.love-cat img {
	width: 70px;
}

.cat {
	width: 100px;
	height: 100px;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
}
.cat img {
	width: 100%;
}

.logo {
	position: relative;
	z-index: 10;
}
.logo:hover .love-cat {
	display: inline-block;
}
/* BASE */

@media screen and (max-width: 768px) {
	.container {
		padding: 0 16px;
	}
}
@media screen and (max-width: 375px) {
	.container {
		max-width: 1192px;
		padding: 0 10px;
	}
}
